<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200402144248-v24pedhukohm93kebvrcajubrvg6s76h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200402144248-v24pedhukohm93kebvrcajubrvg6s76h</string>
	<key>API_KEY</key>
	<string>AIzaSyBog6xY5RseeZL217HOjL_VkGu-9IpPNsg</string>
	<key>GCM_SENDER_ID</key>
	<string>200402144248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.map</string>
	<key>PROJECT_ID</key>
	<string>gp02-805d3</string>
	<key>STORAGE_BUCKET</key>
	<string>gp02-805d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200402144248:ios:46e6c4a64cdaac3e55640d</string>
</dict>
</plist>